body {
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(112, 112, 144, 1) 35%, rgba(126, 133, 134, 1) 100%);
    color: whitesmoke;
}

.paragraph {
    overflow: hidden;
    line-height: 1.5em;
    /* Adjust as needed */
    height: 4.5em;
    /* Adjust as needed */
}

.paragraph.expanded {
    height: auto;
}

.btn {
    cursor: pointer;
    color: blue;
}

.btn {
    color: chocolate;
}
